# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore target folder
target/

# Ignore IDE files
.idea/
*.iml
*.iws
*.ipr

# Ignore Maven files
mvnw
mvnw.cmd
